<article [aria-busy]="loadingTodos()">
  @if (!loadingTodos()) {
  <div>
    <div role="group">
      <button (click)="filterTodoHandler($event)">All</button>
      <button (click)="filterTodoHandler($event)" class="secondary">Complete</button>
      <button (click)="filterTodoHandler($event)" class="contrast">Pending</button>
    </div>
    <hr />
    @if(qtyOfTodos() <= 0) { <h2>Not todos in the list</h2>
      }
      @else{
      @for (item of displayedTodos(); track item.id) {
      <ul>
        <li class="todo-item" (click)="changeStatus(item)">
          <span [ngClass]="{'tachado':item.completed}">{{ item.title }}</span>
        </li>
      </ul>
      }
      <footer>{{ qtyOfTodos() }} todos</footer>
      }
  </div>
  }
</article>

<dialog #dialog>
  @if(todoSelected){
  <article>
    <header>
      <h2>{{ todoSelected.title }}</h2>
      <small>{{ todoSelected.created_at | elapsed }}</small>
    </header>
    <p>{{ todoSelected.description }}</p>
    <footer>
      <button class="secondary" (click)="closeDialog()">
        Cancel
      </button>
      <button (click)="deleteTodoHandler()">Deleted</button>
      <button (click)="toggleTodoHandler()">{{ todoSelected.completed ? "Return Todo!" : "Done!" }}</button>
    </footer>
  </article>
  }
</dialog>